- var rand = "<?php echo rand(1,24); ?>"

div#jmd
    div#cabecera( style="background: url(http://www.juniorsmd.org/images/cabeceras/imagencabecera_#{rand}.png) 0px 0% no-repeat;")
    div#categoriasestaticas
        div#ca_nuestraidentidad
            a( href="http://www.juniorsmd.org/ca/nuestraidentidad")
        div#ca_quehacemos
            a( href="http://www.juniorsmd.org/ca/quehacemos")
        div#ca_dondeestamos
            a( href="http://www.juniorsmd.org/ca/dondeestamos")
        div#ca_nuestrahistoria
            a( href="http://www.juniorsmd.org/ca/nuestrahistoria")
    a#jlogo( href="http://www.juniorsmd.org" style="z-index: -1")