@font-face {
    font-family: 'JoyfulJulianaProRegular';
    src:    local(JoyfulJulianaProRegular),
     url('http://recursos.juniorsmd.org/fonts/Joyful_Juliana_Pro-webfont.eot');
    src: url('http://recursos.juniorsmd.org/fonts/Joyful_Juliana_Pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://recursos.juniorsmd.org/fonts/Joyful_Juliana_Pro-webfont.woff') format('woff'),
        url('http://recursos.juniorsmd.org/fonts/Joyful_Juliana_Pro-webfont.ttf') format('truetype'),
        url('http://recursos.juniorsmd.org/fonts/Joyful_Juliana_Pro-webfont.svg#JoyfulJulianaProRegular') format('svg');
    font-style: normal;
    font-weight: normal;
}

#jmd *{
    border: 1px dotted black;
    border-radius: 10px;
}

#jmd *:hover{
    border: 1px dotted blue;
    border-radius: 15px;
}

li.item a.hover{
 border-radius: 15px;   
}

#jmd div{
    border-color: red;
}

#jmd {
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 950px;
    height: 320px;
}

#jlogo {
    right: 0px;
    top: 65px;
    display:block;
    width: 273px;
    height: 132px;
    background: url("http://www.juniorsmd.org/images/logojuniors.png") no-repeat scroll 50% 0px transparent;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 65px;
}


#jlogo:hover{background: url("http://www.juniorsmd.org/images/logojuniors.png") no-repeat scroll 50% -132px transparent;}
body {background: url("http://www.juniorsmd.org/images/fondo.png") repeat scroll 0 0 #FFFFFF;}
#content {margin:0; border-radius: 15px; border-width: 3px ; border-color: rgb(51,140,38) ; border-style: solid; background: white; padding: 15px; box-shadow: 0px -30px rgb(143,212,0); }
#nombre {position: relative; height: 0px ;top: -88px;font-family: "JoyfulJulianaProRegular"; font-size: 2.5em; color: rgb(143,212,0); font-weight: bold; margin: 0px 0px 0px 0px;}

#cabecera {
    background: url('http://www.juniorsmd.org/images/cabeceras/imagencabecera_13.png') 0px 0% no-repeat;
    /*background: white;*/
    /*border: green dashed 1px;*/
    width: 950px;
    height: 320px;
    position: absolute;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#categoriasestaticas {
    margin: 190px 0 0 270px;
    position: absolute;
    width: 380px;
    z-index: 4;
}
#es_nuestraidentidad {
    padding: 0;
    position: absolute;
}
#es_nuestraidentidad a {
    background: url("http://www.juniorsmd.org/images/es_BotonNuestraIdentidad.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 96px;
    width: 96px;
}
#es_nuestraidentidad a:hover {
    background: url("http://www.juniorsmd.org/images/es_BotonNuestraIdentidad.png") no-repeat scroll 50% -96px transparent;
}
#ca_nuestraidentidad {
    padding: 0;
    position: absolute;
}
#ca_nuestraidentidad a {
    background: url("http://www.juniorsmd.org/images/ca_BotonNuestraIdentidad.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 95px;
    width: 95px;
}
#ca_nuestraidentidad a:hover {
    background: url("http://www.juniorsmd.org/images/ca_BotonNuestraIdentidad.png") no-repeat scroll 50% -95px transparent;
}
#es_quehacemos {
    margin: 0 0 0 102px;
    position: absolute;
}
#es_quehacemos a {
    background: url("http://www.juniorsmd.org/images/es_BotonQueHacemos.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 84px;
    width: 84px;
}
#es_quehacemos a:hover {
    background: url("http://www.juniorsmd.org/images/es_BotonQueHacemos.png") no-repeat scroll 50% -84px transparent;
    display: block;
    height: 84px;
    width: 84px;
}
#ca_quehacemos {
    margin: 0 0 0 102px;
    position: absolute;
}
#ca_quehacemos a {
    background: url("http://www.juniorsmd.org/images/ca_BotonQueHacemos.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 84px;
    width: 84px;
}
#ca_quehacemos a:hover {
    background: url("http://www.juniorsmd.org/images/ca_BotonQueHacemos.png") no-repeat scroll 50% -84px transparent;
    display: block;
    height: 84px;
    width: 84px;
}
#es_nuestrahistoria {
    margin: -25px 0 0 195px;
    position: absolute;
}
#es_nuestrahistoria a {
    background: url("http://www.juniorsmd.org/images/es_BotonNuestraHistoria.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 87px;
    width: 87px;
}
#es_nuestrahistoria a:hover {
    background: url("http://www.juniorsmd.org/images/es_BotonNuestraHistoria.png") no-repeat scroll 50% -87px transparent;
    display: block;
    height: 87px;
    width: 87px;
}
#ca_nuestrahistoria {
    margin: -25px 0 0 195px;
    position: absolute;
}
#ca_nuestrahistoria a {
    background: url("http://www.juniorsmd.org/images/ca_BotonNuestraHistoria.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 87px;
    width: 87px;
}
#ca_nuestrahistoria a:hover {
    background: url("http://www.juniorsmd.org/images/ca_BotonNuestraHistoria.png") no-repeat scroll 50% -87px transparent;
    display: block;
    height: 87px;
    width: 87px;
}
#es_dondeestamos {
    margin: -65px 0 0 285px;
    position: absolute;
}
#es_dondeestamos a {
    background: url("http://www.juniorsmd.org/images/es_BotonDondeEstamos.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 77px;
    width: 77px;
}
#es_dondeestamos a:hover {
    background: url("http://www.juniorsmd.org/images/es_BotonDondeEstamos.png") no-repeat scroll 50% -77px transparent;
    display: block;
    height: 77px;
    width: 77px;
}
#ca_dondeestamos {
    margin: -65px 0 0 285px;
    position: absolute;
}
#ca_dondeestamos a {
    background: url("http://www.juniorsmd.org/images/ca_BotonDondeEstamos.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 77px;
    width: 77px;
}
#ca_dondeestamos a:hover {
    background: url("http://www.juniorsmd.org/images/ca_BotonDondeEstamos.png") no-repeat scroll 50% -77px transparent;
    display: block;
    height: 77px;
    width: 77px;
}
